extends ../layout

block head
	- var PAGE = "initiative"
	- var TITLE = initiative.title

mixin date-form(action, name, value)
	- var toggle = "show-" + name

	if value
		time= formatDate("iso", value)
		br

	input.form-toggle(id=toggle, hidden, type="checkbox")
	span.form-toggle-buttons
		if value
			label.admin-link(for=toggle) Edit
			| &nbsp;or&nbsp;
			+form-button(action, name, "").admin-link(
				onclick="return confirm('Sure?')") Remove
		else
			label.admin-link(for=toggle) Set Date

	+form.form-toggle-form.admin-inline-form(action=action, method="post")
		input(type="hidden", name="_method", value="put")
		input.admin-input(
			type="date",
			name=name
			value=value && formatDate("iso", value),
			required)

		button.admin-submit Set Date
		| &nbsp;or&nbsp;
		label.admin-link(for=toggle) Cancel

block body
	-
		var Initiative = require("root/lib/initiative")
		var formatDate = require("root/lib/i18n").formatDate
		var linkify = require("root/lib/linkify")

	a.admin-back(href="/initiatives") Initiatives
	h1.admin-heading= initiative.title
	include /_flash.jade

	table#initiative-table.admin-horizontal-table
		if initiative.status == "followUp" || initiative.status == "closed"
			tr
				- var status = initiative.status
				th(scope="row") Status
				td
					+form#status-form.admin-inline-form(
						action="/initiatives/" + initiative.id, method="post")
						input(type="hidden", name="_method", value="put")

						select(name="status", onchange="this.form.submit()")
							option(value="followUp", selected=status == "followUp")
								| In Parliament
							option(value="closed", selected=status == "closed")
								| Finished

			- var action = `/initiatives/${initiative.id}`
			tr
				th(scope="row") Sent to Parliament
				td: +date-form(
					action,
					"sentToParliamentOn",
					dbInitiative.sent_to_parliament_at)

			tr
				th(scope="row") Finished in Parliament
				td: +date-form(
					action,
					"finishedInParliamentOn",
					dbInitiative.finished_in_parliament_at)

	.events
		h2.admin-subheading
			| Events
			= " "
			span.admin-count (#{events.length})

		if events.length > 0
			table.admin-table
				thead
					th Created On
					th Title
					th.new-event
						a.admin-primary-button.new-event-button(
							href=`/initiatives/${initiative.id}/events/new`) New Event

				tbody
					for event in events
						tr.event
							td: time(datetime=event.createdAt.toJSON())
								= formatDate("iso", event.createdAt)

							td
								h3= event.title
								- var toggleId = `show-event-${event.id}-text`
								input.text-toggle(id=toggleId, hidden, type="checkbox")
								label.admin-link(for=toggleId) Show text
								p.admin-text!= linkify(event.text)

							td
								- var path = `/initiatives/${initiative.id}/events/${event.id}`
								a.admin-link(href="#{path}/edit") Edit
								| &nbsp;or&nbsp;
								+form-button(
									path,
									"_method",
									"delete").admin-link(onclick="return confirm('Sure?')") Delete
