extends ../layout

block options
	- var title = t("EXPLANATION")
	- var page = "initiative-create"

block body
	section#initiative.primary-section.text-section: center
		img.step-counter(src="/images/one.png")
		h1= t("EXPLANATION")
		p= t("EXPLANATION_CONTENT")

		unless req.user
			p.flash.error= t("LOGIN_TO_CREATE_TOPIC")
		else
			+form(action="/initiatives", method="post")
				h2= t("TITLE_FIELD")

				if error
					p.flash.error= error

				input.form-input(
					type="text",
					name="title",
					value=attrs.title,
					required)

				label.form-checkbox
					input(type="checkbox", name="accept-tos", required)
					!= t("I_HAVE_READ", {url: "/about#tos"})

				button.form-submit.primary-button= t("START_DISCUSSION")
