extends ../layout

block options
	- var title = initiative.title
	- var page = "initiative"

block append head
	- var Config = require("root/config")
	meta(property="og:url", content=`${Config.url}/initiatives/${initiative.id}`)
	meta(property="og:title", content=initiative.title)

block body
	-
		var I18n = require("root/lib/i18n")
		var Config = require("root/config")
		var Initiative = require("root/lib/initiative")
		var selected = require("root/lib/css").selected
		var hasVote = flash("signed") || Initiative.hasVote("Yes", initiative)
		var shareUrl = `${Config.url}/initiatives/${initiative.id}`
		var shareText = `${initiative.title} ${shareUrl}`
		var encode = encodeURIComponent
		var now = new Date
		var unclosedStatus = Initiative.getUnclosedStatus(initiative)
		var createdAt = initiative.createdAt

	header#initiative-header: center
		h1= initiative.title
		span.author= initiative.creator.name
		= ", "
		time(datetime=createdAt.toJSON())= I18n.formatDate("numeric", createdAt)

	nav#initiative-tabs: center
		menu
			if Initiative.isPublishable(initiative)
				+form(method="post", action="/initiatives/#{initiative.id}")
					input(type="hidden", name="_method", value="put")
					button.button.primary-button(name="visibility", value="public")
						= t("PUBLISH_TOPIC")

			if Initiative.isProposable(new Date, initiative)
				+form(method="post", action="/initiatives/#{initiative.id}")
					input(type="hidden", name="_method", value="put")
					button.button.primary-button(name="status", value="voting")
						= t("BTN_SEND_TO_VOTE")

			if Initiative.isParliamentable(initiative)
				+form(method="post", action="/initiatives/#{initiative.id}")
					input(type="hidden", name="_method", value="put")
					button.button.primary-button(name="status", value="followUp")
						= t("SEND_TO_PARLIAMENT")

			if Initiative.isFinishable(initiative)
				+form(method="post", action="/initiatives/#{initiative.id}")
					input(type="hidden", name="_method", value="put")
					button.button.primary-button(name="status", value="closed")
						| Lõpeta menetlus

			if Initiative.isVotable(new Date, initiative) && !hasVote
				a.button.primary-button(href="#initiative-vote")
					= t("SIGN_THIS_DOCUMENT")

			if Initiative.isInvitable(initiative)
				a.button.secondary-button(href="/initiatives/#{initiative.id}/authors/new")
					= t("INVITE_PEOPLE")

			if Initiative.isPublic(initiative)
				a.button.white-button(
					href="https://facebook.com/sharer/sharer.php?u=#{encode(shareUrl)}",
					target="_blank")
					i.icon-facebook
					= t("SHARE_ON_FACEBOOK")

				a.button.white-button(
					href="https://twitter.com/intent/tweet?status=#{encode(shareText)}",
					target="_blank")
					i.icon-twitter
					= t("SHARE_ON_TWITTER")

		if unclosedStatus == "inProgress"
			a.tab(
				href="/initiatives/#{initiative.id}/discussion",
				class=selected(subpage, "discussion"))
				= t("HEADING_TAB_ORIGINAL")
		else
			a.tab(
				href="/initiatives/#{initiative.id}/vote",
				class=selected(subpage, "vote"))
				= t("HEADING_TAB_VOTE")

		if unclosedStatus === "followUp"
			a.tab(
				href="/initiatives/#{initiative.id}/events",
				class=selected(subpage, "events"))
				= t("HEADING_TAB_EVENTS")

	block tab
