extends ../layout

block options
	- var title = initiative.title
	- var page = "initiative"

block append head
	- var Config = require("root/config")
	meta(property="og:url", content=`${Config.url}/initiatives/${initiative.id}`)
	meta(property="og:title", content=initiative.title)

block body
	-
		var I18n = require("root/lib/i18n")
		var createdAt = initiative.createdAt

	header#initiative-header: center
		h1
			- var path = "/initiatives/" + initiative.id
			if req.method != "GET" || req.baseUrl + req.path != path
				a(href=path)= initiative.title
			else
				= initiative.title

			+initiative-badge(initiative)

		span.author= initiative.creator.name
		= ", "
		time(datetime=createdAt.toJSON())= I18n.formatDate("numeric", createdAt)

	block subpage
