extends ./layout
include ./_mixins

block append head
	script(src="/assets/inputs.js")

block subpage
	- var formatIso = require("root/lib/i18n").formatDate.bind(null, "iso")
	- var min = Initiative.getMinDeadline(new Date)
	- var max = Initiative.getMaxDeadline(new Date)

	section.primary-section.text-section: center
		h2= t("DEADLINE_TITLE")
		p= t("VOTE_DEADLINE_EXPLANATION")

		if error
			p.flash.error= error

		+form#initiative-form.form(
			method="post",
			action="/initiatives/#{initiative.id}")
			input(type="hidden", name="_method", value="put")

			input.form-input(
				type="date",
				name="endsAt",
				min=formatIso(min),
				max=formatIso(max),
				value=formatIso(attrs.endsAt || min),
				required)

			+date-picker("#initiative-form input[name=endsAt]")

			button.form-submit.primary-button(name="status", value="voting")
				= t("BTN_CREATE_VOTE")
