extends ./layout
include ./_mixins

block tab
	section.white-section.text-section: center
		+header(initiative)
		h2= t("DEADLINE_TITLE")
		p= t("SET_DEADLINE_FOR_SIGNATURE_COLLECTING")

		if error
			p.flash.error= error

		form.form(method="post", action="/initiatives/#{initiative.id}")
			input(type="hidden", name="_method", value="put")

			input.form-input(
				type="date",
				name="endsAt",
				value=attrs.endsAt && attrs.endsAt.toISOString().slice(0, 10),
				required)
			br

			button.form-submit.green-button(name="status", value="voting")
				= t("BTN_CREATE_VOTE")
