extends ./layout
include ./_mixins

block prepend subpage
	-
		var I18n = require("root/lib/i18n")
		var Config = require("root/config")
		var Initiative = require("root/lib/initiative")

	section#initiative-section.transparent-section: center
		#initiative-sheet
			include /_flash.jade

			if Initiative.canEditBody(initiative)
				iframe#initiative-etherpad(
					src=Initiative.getEtherpadUrl(initiative),
					frameborder="0",
					scrolling="no")

				:javascript
					var el = document.getElementById("initiative-etherpad")

					window.addEventListener("message", function(ev) {
						switch (ev.data.name) {
							case "ep_resize":
								var height = ev.data.data.height
								if (el.offsetHeight != height) el.style.height = height + "px"
								break
						}
					})

					var scrolled
					window.addEventListener("scroll", function(ev) {
						clearTimeout(scrolled)
						scrolled = setTimeout(handleScroll, 100)
					})

					function handleScroll() {
						el.contentWindow.postMessage({
							name: "ep_embed_floating_toolbar_scroll",
							data: {
								scroll: {top: window.pageYOffset, left: window.pageXOffset},
								frameOffset: offsetTopFrom(el)
							}
						}, "*")

						function offsetTopFrom(el) {
							var offsets = {left: 0, top: 0}

							do {
								offsets.top += el.offsetTop
								offsets.left += el.offsetLeft
								el = el.offsetParent
							} while (el)

							return offsets
						}
					}
			else
				article.text!= initiative.html

		aside#initiative-sidebar
			a.primary-button.wide-button(href="/initiatives/#{initiative.id}")
				if Initiative.isDiscussion(initiative)
					= t("BACK_TO_DISCUSSION")
				else
					= t("BACK_TO_INITIATIVE")

			if Initiative.canUpdateDiscussionDeadline(initiative)
				+form(method="post", action="/initiatives/#{initiative.id}")
					input(type="hidden", name="_method", value="put")
					button.link-button.wide-button(name="visibility", value="public")
						= t("RENEW_DEADLINE")

			if Initiative.canUpdateVoteDeadline(initiative)
				+form(method="post", action="/initiatives/#{initiative.id}")
					input(type="hidden", name="_method", value="put")
					button.link-button.wide-button(name="status", value="voting")
						= t("RENEW_DEADLINE")

			if Initiative.canInvite(initiative)
				a.link-button.wide-button(
					href="/initiatives/#{initiative.id}/authors/new")
					= t("INVITE_PEOPLE")

			if Initiative.canDelete(initiative)
				+form(method="post", action="/initiatives/#{initiative.id}")
					- var confirmText = t("TXT_ALL_DISCUSSIONS_AND_VOTES_DELETED")
					button.link-button.wide-button(
						name="_method",
						value="delete",
						onclick="return confirm('#{confirmText}')")
						= t("DELETE_DISCUSSION")

			+form#initiative-notes-form(
				method="post", action="/initiatives/#{initiative.id}")
				input(type="hidden", name="_method", value="put")
				input(type="hidden", name="referrer", value=editUrl)
				h2= t("NOTES_HEADER")
				textarea.form-textarea(name="notes")= dbInitiative.notes
				button.secondary-button.wide-button= t("UPDATE_NOTES")
