include /_mixins

mixin donate-form(reference, amount)
	-
		var pseudoInt = require("root/lib/crypto").pseudoInt
		var def = amount == null ? 3 + pseudoInt(7) : 0

	+form.donate-form(method="POST", action="/donations")
		input(type="hidden", name="default", value=def)

		label.form-label= t("SUPPORT_LABEL")
		br
		label.amount-input
			input.form-input(
				type="numeric",
				name="amount",
				value=amount || def,
				required)

		br
		label.form-label Isikukood (kui soovid tulumaksu tagasi)
		br
		input.form-input(name="person", maxlength=32)

		button.form-submit.secondary-button= t("SUPPORT_BUTTON")

		label.form-checkbox.tos-checkbox
			input(type="checkbox", name="accept-tos", required)
			!= t("I_HAVE_READ", {url: "https://rahvaalgatus.ee/about#tos"})

		p.text= t("SUPPORT_REDIRECT")
