include ./_mixins

- var Config = require("root/config")
- var stringify = require("root/lib/json").stringify
- var selected = require("root/lib/css").selected
- var SITE_TITLE = Config.title
- var LANGS = Config.languages
- var ENV = process.env.ENV

doctype html
html
	block options

	head
		title #{title == null ? "" : title + " - "} #{SITE_TITLE}
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="/assets/page.css", type="text/css")

		meta(
			property="og:image",
			content=`${Config.url}/images/uuseakus-facebook.jpg`)

		case ENV
			when "staging"
			when "production"
				script(src="https://cdn.ravenjs.com/3.9.1/raven.min.js")
				script.
					Raven.config("#{process.env.SENTRY_PUBLIC_DSN}", {
						environment: "#{ENV}",
						user: !{stringify(req.user)},

						ignoreErrors: [
							"no_implementation",
							"user_cancel",
							"no_certificates"
						]
					}).install()

		if ENV === "development"
			script(
				src="http://#{req.hostname}:35729/livereload.js?snipver=1",
				async, defer)

		block head

	body(id=page + "-page")
		header#header: center
			menu
				+form.languages(action="/session", method="post")
					input(type="hidden", name="_method", value="put")
					- var translatable = req.lang === "xx" || "translatable" in req.query

					if translatable || LANGS.length > 1
						each lang in LANGS
							button.inherited(
								name="language",
								value=lang,
								disabled=req.lang === lang)= t(lang)

					if translatable
						button.inherited(
							name="language",
							value="xx",
							disabled=req.lang === "xx") Translate

				if req.user
					.right
						a.user(href="/user")= req.user.name
						+form.signout(action="/session", method="post")
							button.inherited(name="_method", value="delete")= t("BTN_LOG_OFF")
				else
					a.right(href="/session/new")= t("BTN_LOG_IN_REGISTER")

			a.logo(href="/")
				img(src="/images/uuseakus.png", alt=SITE_TITLE)

			nav
				ul
					li: a(
						href="/initiatives",
						class=selected(page, "initiatives") || selected(page, "initiative"))
						= t("LINK_VOTING")
					li: a.emphasized(href="/effective-ideas") Mõjusad ettepanekud
					li: a(href=Config.helpUrls[req.lang])= t("LINK_HELP")
					li: a(href="/about", class=selected(page, "about"))= t("LNK_ABOUT")
					li: a(href="/donate", class=selected(page, "donate"))= t("LNK_SUPPORT")
					li: a(href=Config.pressUrls[req.lang])= t("LINK_PRESS")

		main#main
			block body

		footer#footer
			center
				.contact
					p
						strong Uue eakuse rahvakogu kontaktid:
						br
						| programmijuht Liisi Uder
						br
						| e-post <a href="mailto:liisi.uder@kogu.ee">liisi.uder@kogu.ee</a>
						br
						| tel <a href="tel:+3726408716">640 8716</tel>
						br
						a(href="http://pension2050.kogu.ee") http://pension2050.kogu.ee
						
				.powered-by
					p
						a(href="https://rahvaalgatus.ee")
							img(src="/images/rahvaalgatus.png", alt="Rahvaalgatus")
						br

						a(href="https://citizenos.com")
							img(src="/images/citizenos_logo_big.png", alt="Citizen OS")

		include ./_analytics
