extends ../layout

block append options
	- var page = "home"

block body
	- var Config = require("root/config")

	section#welcome.primary-section.text-section: center
		h1= t("HOME_WELCOME_TITLE")

		.video
			iframe(
				width="480",
				height="270",
				src="https://www.youtube.com/embed/za230fHP6pg",
				frameborder="0",
				allowfullscreen)

		p!= t("HOME_WELCOME")
		a#create-link(href="/initiatives/new")= t("BTN_NEW_TOPIC")

	include ../initiatives/_initiatives
