extends ../layout
include ./_mixins

block body
	section#welcome.white-section.text-section: center
		h1= t("HOME_WELCOME_TITLE")
		p= t("HOME_WELCOME")

		a#video-link
			i.icon
			span= t("HOME_VIDEO_TEXT")

		a#create-link(href="/initiatives/new")= t("BTN_NEW_TOPIC")

	section#initiatives.grey-section.initiatives-section: center
		if discussions.length > 0
			h2= t("DISCUSSIONS_LIST")
			+initiatives(discussions)

		if votings.length > 0
			h2= t("INITIATIVE_LIST")
			+initiatives(votings)

		if processes.length > 0
			h2= t("IN_FOLLOW_UP_LIST")
			+initiatives(processes)
