extends ../layout

block append options
	- var page = "home"

block body
	- var Config = require("root/config")
	- var stringify = require("root/lib/json").stringify

	section#welcome.primary-section.text-section: center
		h1= t("HOME_WELCOME_TITLE")

		.video
			iframe(
				width="480",
				height="270",
				src="https://www.youtube.com/embed/Gwt9J1Q3fcI",
				frameborder="0",
				allowfullscreen)

			a.button.secondary-button(href="/about")= t("BTN_NEW_TOPIC")

		p!= t("HOME_WELCOME")

	section#vision-section.secondary-section: center
	script(src="/assets/vision.js")

	:javascript
		var Viz = require("@rahvaalgatus/vision")
		var section = document.getElementById("vision-section")

		var viz = new Viz({
			initiatives: !{stringify(visionInitiatives)},
			maxWidth: section.offsetWidth
		})

		viz.render()
		section.firstChild.appendChild(viz.el)

	noscript
		include ../initiatives/_initiatives
