extends ../layout

block append options
	- var page = "home"

block body
	- var Config = require("root/config")

	section#welcome.primary-section.text-section: center
		h1= t("HOME_WELCOME_TITLE")

		.schematic
			iframe(
				width="480",
				height="270",
				src="https://www.youtube.com/embed/Gwt9J1Q3fcI",
				frameborder="0",
				allowfullscreen)

			a#create-link(href="/about")= t("BTN_NEW_TOPIC")

		p!= t("HOME_WELCOME")

	include ../initiatives/_initiatives
