.new-initiative(ng-controller="TopicMembersInviteFormCtrl", ng-init="init()")
	.enclose
		.new-initiative-step
			img.step-counter(src="/images/three.png")
			h1(translate="CO_AUTHORS")
			p(translate="CO_AUTHORS_TEXT")

			form.authors(method="post")
				h2(translate="ADD_CO_AUTHOR")

				h3(translate="CURRENT_AUTHORS")
				ol.authors
					li {{topic.creator.name}} (you)

					li(ng-repeat="user in invite.users")
						| {{user.name || user}}
						a(href="#", ng-click="removeUser($index)") ×

				input(type="text", ng-model="urlJoin", ng-show="false")
				typeahead.auto-complete.ui-autocomplete-input(
					name="author",
					items="searchResults.all",
					term="searchString",
					search="search(term)",
					select="selectMember(item)",
					placeholder="{{'PLACEHOLDER_USERNAME_EMAIL_OR_GROUP' | translate}}")

					.ac-dropdown(ng-cloak="")
						.ac-dataset(ng-show="searchResults.users.length")
							.ac-suggestions
								.ac-suggestion(
									typeahead-item="user",
									ng-repeat="user in searchResults.users") {{user.name}}

						.ac-empty-message(
							ng-show="term !='' && !searchResults.users.length",
							translate="TXT_NO_RESULTS_FOUND")

				a.add-author-button(
					ng-click="addCoAuthor()",
					translate="ADD_CO_AUTHOR")

			button.next-button.create-authors-button.blue-button(
				href="#",
				ng-click="submitAddusers()",
				translate="CONTINUE_TO_WRITING_THE_DOCUMENT")
