.new-initiative
	.enclose
		.new-initiative-step(ng-show="('topics.create' | isState)")
			img.step-counter(src="/images/one.png")
			h1(translate="EXPLANATION")
			p(translate="EXPLANATION_CONTENT")

			form.title
				h2(translate="TITLE_FIELD")

				input.form-input(
					type="text",
					name="title",
					ng-model="topic.title",
					required)

				input#accept-tos(
					type="checkbox",
					name="accept-tos",
					ng-model="understandConditions")

				label(for="accept-tos")
					span(
						ng-bind-html="'I_HAVE_READ' | translate:{url: '/goodpractice'}")

				p.error.error_message(
					ng-show="!app.user.loggedIn",
					translate="LOGIN_TO_CREATE_TOPIC")
				p.error.error_message(
					ng-show="notConfirmedRead",
					translate="CONFIRM_I_HAVE_READ")

				button.next-button.create-initiative-button.green-button(
					href="#",
					ng-disabled="!app.user.loggedIn || topic.title == ''",
					ng-click="triggerStart('discussion')",
					translate="START_DISCUSSION")

		.new-initiative-step(ng-show="('topics.deadline' | isState)")
			img.step-counter(src="/images/two.png")
			h1(translate="DEADLINE_TITLE")
			p(translate="DEADLINE_EXPLANATION")

			.calendar
				div(
					date-picker="topic.endsAt",
					max-view="date",
					min-view="date",
					template="/templates/initiatives/_deadline_picker.html")

			.calendar-output(ng-show="topic.endsAt")
				span(translate="DEADLINE")
				| : {{topic.endsAt | amDateFormat : 'L'}}
				| (
				span(translate="{{'TXT_DEADLINE_CALENDAR_DAYS_LEFT' | translate: topic}}")
				| )

			button.next-button.create-deadline-button.blue-button(
				href="",
				ng-click="createDeadlineEnd(topic.endsAt)",
				translate="CONTINUE_TO_ADD_COAUTHORS")

			p.error.error_message(
				ng-show="dateNotSet",
				translate="CHOOSE_DEADLINE_TO_CONTINUE")
