extends ../layout
include ../_mixins

block append options
	- var subpage = "events"

block prepend tab
	- var I18n = require("root/lib/i18n")
	- var linkify = require("root/lib/linkify")

	section#initiative-events.primary-section: center
		include /_flash.jade

		aside#contribute
			h2= t("PARLIAMENT_BANNER_TITLE")
			p= t("PARLIAMENT_BANNER_CONTENT")

			p.links
				a.secondary-button(href=t("PARLIAMENT_BANNER_CONTRIBUTE_URL"))
					= t("PARLIAMENT_BANNER_CONTRIBUTE")
				a.secondary-button(href=t("PARLIAMENT_BANNER_DONATE_URL"))
					= t("PARLIAMENT_BANNER_DONATE")
				a.secondary-button(href=t("PARLIAMENT_BANNER_INFO_URL"))
					= t("PARLIAMENT_BANNER_INFO")

		if events.length
			ol.events
				for event in events
					li.event
						time(datetime=event.createdAt.toJSON())
							= I18n.formatDate("numeric", event.createdAt)

						h2= event.subject
						p.text!= linkify(event.text)
		else
			p.text.empty= t("NO_EVENTS")

	section.secondary-section: center
		+initiative-subscribe(initiative)
