div(ng-switch="view")
	div(ng-switch-when="date")
		.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all(style="display: block;")
			.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
				a.ui-datepicker-prev.ui-corner-all(data-handler="prev", data-event="click", title="Prev", ng-click="prev()")
					span.ui-icon.ui-icon-circle-triangle-w Prev

				a.ui-datepicker-next.ui-corner-all(data-handler="next", data-event="click", title="Next", ng-click="next()")
					span.ui-icon.ui-icon-circle-triangle-e Next

				.ui-datepicker-title
					span.ui-datepicker-month(ng-click="setView('month')") {{date|amDateFormat:'MMMM'}}
					|  
					span.ui-datepicker-year {{date|amDateFormat:'YYYY'}}

			table.ui-datepicker-calendar
				thead
					tr
						th(ng-repeat="day in weekdays", scope="col", ng-class="{'ui-datepicker-week-end':(day | amDateFormat: 'd')==6 || (day | amDateFormat: 'd')==0}")
							span(title="{{day | amDateFormat: 'd'}}") {{day | amDateFormat: 'dd'}}

				tbody
					tr(ng-repeat="week in weeks")
						td(ng-repeat="day in week", ng-class="{'ui-datepicker-days-cell-over   ui-datepicker-current-day ui-datepicker-today':isNow(day)}")
							a.ui-state-default(
								ng-show="day.getMonth() == date.getMonth()",
								href="#",
								ng-class="{'ui-state-default ui-state-highlight ui-state-active':isNow(day),'ui-state-active':isSameDay(day),'after':isAfter(day),'before':isBefore(day)}",
								ng-click="setDate(day)",
								ng-bind="day.getDate()",
								ng-disabled="!isAtLeastDaysInFuture(3, day)",
								data-date="{{day | amDateFormat: 'YYYY-MM-DD'}}")
