div(ng-tabs="", ng-show="topicLoadSuccess && !isTopicLoading")
	include ./_progress

	menu.initiative-tabs.enclose
		li
			a(
				ui-sref="topics.discussion({id: topic.id})",
				ng-tab-head="",
				ng-class="{active: ('topics.discussion' | isState)}",
				ng-if="topic.vote == null",
				translate="HEADING_TAB_ORIGINAL")

		li(ng-show="topic.vote.id")
			a(
				ui-sref="topics.vote({id: topic.id})",
				ng-tab-head="",
				ng-class="{active: ('topics.vote' | isState)}",
				translate="HEADING_TAB_VOTE")

		li(ng-show="topic.status=='followUp'")
			a(
				ui-sref="topics.events({id: topic.id})",
				ng-class="{active: ('topics.events' | isState)}",
				translate="HEADING_TAB_EVENTS")

	.admin-role-content
		.enclose
			.admin-role-box.clearfix
				.left.tab-content
					.clearfix.c-by
						p.left
							span(translate="CREATED_BY")
							| &#32;
							span {{topic.creator.name}}

						p.right {{topic.createdAt | amDateFormat : 'L'}}

					.clearfix.args
						p.left
							a(href="#commentBlock", ng-if="topic.status=='inProgress'", translate="HEADING_ARGUMENTS", translate-values="{count: '{{topicComments.rows.length || 0}}'}")

							a(href="#commentBlock", ng-if="topic.status!='inProgress'", translate="HEADING_COMMENTS", translate-values="{count: '{{topicComments.rows.length || 0}}'}")

					block body

				aside#initiative-aside.right
					button.blue-button.publish-button(
						ng-if="!isClosed() && isAdmin() && topic.visibility=='private'",
						ng-click="doSetVisibility('public')",
						translate="PUBLISH_TOPIC")

					button.green-button.send-to-vote-button(
						ng-if="isProposable()",
						ui-sref="topics.discussion.finish({id: topic.id})",
						translate="BTN_SEND_TO_VOTE")

					button.green-button.send-to-parliament-button(
						ng-if="(isAdmin()&& !isClosed() || canEdit() && !isClosed()) && canSendToFollowUp() && (vote && vote.options.rows[0].voteCount >= Config.VOTES_REQUIRED)",
						ng-click="confirmTopicFollowUp(topic)",
						translate="SEND_TO_PARLIAMENT")

					.aside-box
						h1.aside-box-header(translate="OPTIONS")

						menu.aside-box-list(ng-show="isAdmin() && !isClosed()")
							li(ng-if="canInvite() && !isShowInVotingNotification()"): a(
								ng-dialog="/templates/modals/topicMembersInvite.html",
								ng-dialog-data="{{topic}}")
								span(translate="INVITE_PEOPLE")

							li(ng-if="isShowInVotingNotification() && canInvite()"): a(
								ng-dialog="/templates/modals/topicMembersInvite.html",
								ng-dialog-data="{{topic}}")
								span(translate="REMIND_PEOPLE_TO_SIGN")

							li(ng-if="isAdmin() && !isClosed() && !topic.vote.id")
								a(
									ng-click="setTopicStatusToClosed(topic)",
									translate="CLOSE_TOPIC")

							li: a(
								ui-sref="topics.vote.renew({id: topic.id})",
								translate="RENEW_DEADLINE")

							li: a(
								ng-click="doDelete()",
								translate="BTN_DELETE_TOPIC")

						a.aside-category-button(
							ng-show="isAdmin() || canEdit()",
							ng-click="$parent.showCategories = !$parent.showCategories",
							ng-class="{active: showCategories}",
							translate="ASSIGN_CATEGORIES")

						div(ng-show="showCategories")
							menu.categories.aside-box-list
								li(
									ng-repeat="(key, value) in CATEGORIES",
									ng-show="isCategorySelected(value)"
								): a(ng-click="updateCategories(value)")
									| {{'TXT_TOPIC_CATEGORY_' + value | uppercase | translate}}

							ul.hash-category
								li(
									ng-repeat="(key, value) in CATEGORIES",
									ng-show="!isCategorySelected(value)"
								): a(ng-click="updateCategories(value)")
									| {{'TXT_TOPIC_CATEGORY_' + value | uppercase | translate}}

						menu.aside-box-list
							li
								a(
									href="http://twitter.com/intent/tweet?status={{shortDescription}}+https://rahvaalgatus.ee/topics/{{topic.id}}",
									target="_blank"
								)
									span(translate="SHARE_ON_TWITTER")
									i.icon-twitter

					form#initiative-email-subscription.aside-box(
						action="https://docs.google.com/forms/d/e/1FAIpQLScP706DtEaSwnt8GYvgw30KOWvdfl7DBhjwyW82V0IesDrx0g/formResponse",
						target="_blank",
						method="POST")
						h1.aside-box-header Teavitused

						input(
							name="entry.1310039861",
							type="hidden",
							value="{{topic.id}}")

						input(
							name="entry.426608193",
							type="hidden",
							value="{{topic.title}}")

						input(name="fbzx", value="-7339236801065826742", type="hidden")

						label.form-label(for="entry.120482688", translate="LBL_EMAIL")
						input.form-input(name="entry.120482688", type="email")
						button.form-submit(type="submit", translate="BTN_SUBSCRIBE")
