doctype html
html(ng-app="app")
	head
		title Rahvaalgatus
		base(href="/")
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", type="text/css", href="/assets/fonts.css")
		link(rel="stylesheet", href="/assets/app.css", type="text/css")
		meta(property="og:url", content="https://rahvaalgatus.ee/")
		meta(property="og:title", content="https://rahvaalgatus.ee/")
		meta(property="og:image", content="https://rahvaalgatus.ee/images/index_logo.png")
		meta(property="og:image", content="https://rahvaalgatus.ee/images/index_logo.png")
		meta(property="fb:app_id", content="176292542463322")
		script(src="https://cdn.ravenjs.com/3.0.3/raven.min.js")
		script.
			Raven.config("https://ead693e3e8074571ad59dc81dc0bdfa6@app.getsentry.com/77593").install()
		script(src="/assets/app.js")

		style.
			.language a:not(:first-child)::before { content:"/"; }
			.language a { cursor:pointer; }

	body(ng-controller="AppCtrl")
		.notifications(ng-show="app.notifications.info || app.notifications.error")
			.entry(ng-show="app.notifications.info")
				div(ng-repeat="info in app.notifications.info")
					span(translate="{{info}}")

				.close(ng-click="app.hideInfo()")  

			.entry.error(ng-show="app.notifications.error")
				div(ng-repeat="error in app.notifications.error")
					span(translate="{{error}}")

				.close(ng-click="app.hideError()")  

		header#header
			.enclose
				.clearfix.header-top
					.left.lang(toru-select="", on-select="app.setLanguage(selected)")
						a(toru-select-item="key", ng-repeat="(key, value) in app.languagesAvailable", ng-class="{'active': app.language == key}") {{key | translate}}

					.right.login(ng-show="!app.user.isLoading && !app.user.loggedIn")
						a(href="/session/new", translate="BTN_LOG_IN_REGISTER")

					.right.login
						#reg.log-pop(ng-show="app.user.loggedIn && app.finalizeOpen && app.user.email==null")

					.right.login-after(ng-show="!app.user.isLoading && app.user.loggedIn")
						a.open-profile(ng-click="app.dashboard()") {{app.user.name}}
						|  | 
						a(ng-click="app.logout()", translate="BTN_LOG_OFF")

				.clearfix.navigation
					a.left.logo(href="/")
						img(src="images/rahvaalagatus_logo.png", alt="image")

					a.mobile-menu(href="#")

					a.mobile-set(href="#")

					ul.left.main-navi.clearfix
						li(ng-class="{'header-link-rus': app.language == 'ru'}")
							a(href="/", translate="LINK_VOTING")

						li(
							ui-sref-active="active",
							ng-class="{'header-link-rus': app.language == 'ru'}")
							a(
								ui-sref="about",
								ng-class="{active: ('about' | isState)}",
								translate="LNK_ABOUT")

						li(
							ui-sref-active="active",
							ng-class="{'header-link-rus': app.language == 'ru'}")
							a(
								href="/support_us",
								ng-class="{active: ('support' | isState)}",
								translate="LNK_SUPPORT")

						li.mobile-items(ng-show="!app.user.isLoading && !app.user.loggedIn")
							p
								a.m-login(href="#", translate="BTN_LOG_IN_REGISTER")

							ul.clearfix(toru-select="", on-select="app.setLanguage(selected)")
								li(toru-select-item="key", ng-repeat="(key, value) in app.languagesAvailable")
									a(style="text-transform: uppercase;", ng-class="{'active': app.language == key}") {{key | translate}}

						li.mobile-items(ng-show="!app.user.isLoading && app.user.loggedIn")
							p.name Hello, {{app.user.name}}!

							p
								a.m-profile(href="#", ng-click="app.dashboard()") View Profile

							p.logout
								a(href="#", ng-click="app.logout()", translate="BTN_LOG_OFF") Log out

							ul.clearfix(toru-select="", on-select="app.setLanguage(selected)")
								li(toru-select-item="key", ng-repeat="(key, value) in app.languagesAvailable")
									a(style="text-transform: uppercase;", ng-class="{'active': app.language == key}") {{key | translate}} 

					.right.help-switch
						a(href="#")
							span.switch-on(translate="ON") ON
							span.switch-off(translate="OFF") OFF

						.help-tip
							h4(translate="HELP_DONT_KNOW") Don’t know what to do?

							p(translate="HELP_TURN_ON")
								| Turn on the help and we will show you tips & pointers like this one on the page you’re currently visiting.

							p
								a(href="#", translate="HELP_GOT_IT") GOT IT, NOW HIDE THIS!

		main#main(ui-view="", ng-if="!app.user.isLoading")

		footer#footer
			.enclose
				.clearfix
					.f-box
						a(href="http://kogu.ee", target="_blank", ng-show="app.language === 'et'")
							img(width="200", src="images/esstikoostoo_logo.png", alt="image")

						a(href="http://kogu.ee", target="_blank", ng-show="app.language !== 'et'")
							img(width="200", src="images/esstikoostoo_logo_en.png", alt="image")

					.f-box
						p(translate="FOOTER_SA")
						p(translate="FOOTER_ADDRESS")

						p(
							translate="FOOTER_EMAIL",
							translate-values="{email:'info@rahvaalgatus.ee'}")

						p(
							translate="FOOTER_PHONE",
							translate-values="{phone:'+3726408714'}")

					.f-box.social.ng-hide
						p
							a.f-fb(href="#", translate="VISIT_FACEBOOK") Visit us on Facebook

						p
							a.f-tw(href="#", translate="VISIT_TWITTER") Visit us on Twitter

					.f-box.textright
						p(translate="POWERED_BY") Powered by:

						p
							a(href="http://citizenos.com")
								img(src="images/citizenos_logo_big.png", alt="Image")

		// Dont Remove this**This is calculating for entire height of the page
		.dummy

		script.
			(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-74848422-1', {'cookieDomain': 'none'});
