mixin event-form(event)
	-
		var formatDate = require("root/lib/i18n").formatDate
		var path = `/initiatives/${initiative.id}/events`
		if (event.id) path += "/" + event.id

	+form.admin-form(action=path, method="post")
		if (event.id)
			input(type="hidden", name="_method", value="put")

		label.admin-label Created On
		input.admin-input(
			type="date",
			name="createdOn"
			value=formatDate("iso", event.createdAt),
			required)

		label.admin-label Title
		input.admin-input(name="title", value=event.title, required, autofocus)

		label.admin-label Text
		textarea.admin-input(name="text", required, maxlength=10000)= event.text

		if event.id
			button.admin-submit Update Event
		else
			button.admin-submit Create New Event
